
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/index :: dynamic(~{::main})}">
<body>
	<main ng-app="summary-app" ng-controller="summary-ctrl">
	<!-- Fourth Row content -->
	<div class="fifthRowContent row">
		<div class="col mt-2">
	         <div class="card border-0 mb-2">
	         	<div class="card-header bg-white2 border-0">
	                 <h5 class="card-title text-white badge bg-primary fs-6 mb-0">
	                     TOP NGƯỜI MUA NHIỀU NHẤT
	                 </h5>
	                
	             </div>
	             <div class="card-body">
	                 <table class="table table-bordered" id="tableTopCustomer">
	                 	<thead>
	                 		<tr>
	                 			<th>#</th>
	                 			<th>Họ Tên Khách Hàng</th>
	                 			<th>Email</th>
	                 			<th>Số Điện thoại</th>
	                 			<th>Tổng Cộng (VNĐ)</th>
	                 		</tr>
	                 	</thead>
	                 	<tbody>
	                 		<tr ng-repeat="c in fifRowContent">
	                 			<th>{{$index+1}}</th>
	                 			<th>{{c[0]}}</th>
	                 			<th>{{c[1]}}</th>
	                 			<th>{{c[2]}}</th>
	                 			<th>{{c[3]|number}}</th>
	                 		</tr>
	                 	</tbody>
	                 </table>
	             </div>
	         </div>
	     </div>
	</div>
  </main>
</body>
</html>