
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/index :: dynamic(~{::main})}">
<body>
	<main ng-app="summary-app" ng-controller="summary-ctrl">
         <!-- Fourth Row content -->
	<div class="forthRowContent row mt-3">
		<div class="col mt-2">
	         <div class="card border-0 mb-2">
	         	<div class="card-header bg-white2 border-0">
	                 <h5 class="card-title text-white badge bg-primary fs-6 mb-0">
	                     TOP 10 SẢN PHẨM BÁN CHẠY
	                 </h5>
	             </div>
	             <div class="card-body">
	                 <canvas id="myBarChartTop10Product"></canvas>
	             </div>
	         </div>
	     </div>
	</div>
  </main>
</body>
</html>