<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main style="margin-top: 150px; margin-bottom: 50px;" class="container">	
		<div class="card my-3">
			<div class="card-header text-center text-danger" style="background-color: aliceblue;">
				<h3 style="font-weight: bold;">THANH TOÁN</h3>
			</div>
			<div class="card-body m-auto" style="font-size: 18px; width: 90%; line-height: 3;">
				<div class="">
					<div style="display: none;">
						<div class="form-control" id="taikhoan" >[[${#request.remoteUser}]]</div>
					</div>
					<div th:object="${user}" class="row ">
						<div class="col-4">Tên khách hàng: <b th:text="*{ten}"> </b> </div>	
						<div class="col-4">Số điện thoại: <b th:text="*{sdt}"></b></div>			
						<div class="col-4">Email: <b th:text="*{email}"></b></div>							
					</div>
					<div class="row">
						<div class="col-4">Ngày đặt: <b>{{order.ngaytao|date:'dd-MM-yyyy'}}</b> </div>
						<div class="col-8">
							<form name="kiemloi" class="row">
								<label class="col-2">Địa chỉ:</label>
   						 		<div class="col-4 mt-2">
     								<input type="text" class="form-control" name="txtdc"  ng-model="order.diachi" required>	
    							</div>
    							<div class="col-4" ng-hide="kiemloi.txtdc.$valid" style="color: red; font-weight: bold; " > Vui lòng nhập địa chỉ </div>
							</form>
						</div>					
					</div>
					<div>
						<table class="table table-hover text-center">
					<thead>
						<tr>
							<th style="width: 20%;" >Mã</th>
							<th style="width: 20%;">Tên</th>
							<th style="width: 20%;">Giá</th>
							<th style="width: 20%;">Số lượng</th>
							<th style="width: 20%;">Thành tiền</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in  cart.items">
							<td>{{item.id}}</td>
							<td>{{item.tensp}}</td>
							<td>{{item.gia|number}} Đ</td>
							<td>{{item.qty}}</td>
							<td>{{item.qty*item.gia|number}} Đ</td>
						</tr>
					</tbody>
				</table>
					</div>
					</div>
					<div class="text-center">
					<b>Tổng tiền: {{cart.amount|number}} ĐỒNG</b>
				</div>
				</div>
				
			</div>
			<div class="card-footer text-center">
			
				<button ng-show="kiemloi.$valid" class="btn btn-success" ng-click="order.purchase()"><i class="bi bi-bag"></i> Mua hàng</button>
				
			</div>
		</div>
	</main>
</body>

</html>